@import url("head-foot.css");
/* add this to every css page instead. */

.card r{
    color: var(--red-accent);
    transform: translateX(-150%) translateY(100%);
    display: flex;
}
#reflected{
    transform: scaleX(-1);
}

#desc{
    display: flex;
    justify-content: center;
    padding: 1%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;    
}


#pop{
    display: none;
}
 #pop:checked + .popout{
    opacity: 1;
}

.popout{
    overflow: visible;
    display: block;
    position: sticky;
    opacity: 0;
    top: 0;
}
.popout img{
    width: clamp(25px, 50%, 400px);
    height: clamp(10px, 30%, 250px);
}
.popout label{
    padding: .5dvw;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #000;
}
.popout label:hover{
    background-color: rgb(248,248,248);
    color: var(--red-accent);
    cursor: pointer;
}

@media (min-width: 480px) { /* for  laptop, monitor, tablet, etc */
    h2{
        display: flex;
        justify-content: center;
        font-size: 200%;
    }
    h1{
        padding-left: 1dvw;
        
        
    }
    .perfect-match{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .perfect-match img{
        height: clamp(30px, 7dvw, 80px);
        width: clamp(120px, 28dvw, 350px);
    }
    .perfect-match h2{
        font-size: clamp(27px, 5.5dvw, 50px);
    }
    
    .card-container{
        padding-left: 1dvw;
        justify-content: flex-start;
        display: grid;
        gap: 1dvw;
        grid-auto-flow: column;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow: scroll;
    }
    .card{
        width: clamp(140px, 18dvw, 200px);
        padding-bottom: 10px;
        height: clamp(195px, 29dvw, 245px); 
        background: #fff;
        border-radius: 5%;
        overflow: clip;
        border: 2px solid black;
        
    }
    .card:has(input:checked){
        height: auto;
    }
    .card img{
        border-radius: 0;
        width: clamp(140px, 18dvw, 200px);
        height: clamp(100px, 15dvw, 150px);
    }
    .card a img{
        margin-right: 5%;
        padding: 3px;
        border-radius: 50%;
        float: right;
        width: 20px;
        height: 20px;
    }
    .card a img:hover{
        border: 1px dashed #000;
    }
    .card input{
        display: none;
    }
    #extra{
        display: none;
    }
    .card label{
        border-radius: 20%;
        font-style: italic;
        padding: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 10%;
        margin-bottom: 10px;
        background-color: rgb(210,210,210);
        color: rgb(0,0,50);
        transition-duration: .3s;
    }
    .card input:checked ~ #extra{
        display: flex;
    }
    .card input:checked + i{
        opacity: 0;
    }
    .card label:hover{
        background-color: #fff;
        border: 1px dashed #000;
        color: var(--red-accent);
        cursor: pointer;
    }
    .card h1{
        display: flex;
        font-size: 110%;
        justify-content: space-around; 
    }
    .card p{
        width: 120%;
        padding: 5%;
        padding-bottom: 0%;
    }
    .card i{
        margin-left: 5px;
        font-size: .8rem;
        transition-duration: .2s;
    }
}

@media (max-width: 480px) { /* for phones/similar sized devices */
    h2{
        display: flex;
        justify-content: center;
        font-size: 200%;
    }
    
    .perfect-match{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top:5dvw;
    }
    .perfect-match img{
        height:7dvw;
        width:30dvw;
    }
    .perfect-match h2{
        position: absolute;
        transform: translateY(6.5dvw);
        font-size: clamp(20px, 7dvw, 28px);
    }
    
    .card-container{
        display: grid;
        gap: 1dvw;
        grid-auto-flow: column;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        overflow: scroll;
    }
    .card{
        width: clamp(120px, 18dvw, 200px);
        padding-bottom: 10px;
        height: 185px;
        background: #fff;
        border-radius: 5%;
        border: 2px solid black;
        overflow: hidden;
    }
    .card:has(input:checked){
        height: auto;
    }
    .card img{
        border-radius: 0;
        width: clamp(120px, 18dvw, 200px);
        height: clamp(90px, 16dvw, 150px);
    }
    .card a img{
        margin-right: 5%;
        border-radius: 50%;
        padding: 3px;
        float: right;
        border: 1px solid #000;
        width: 17px;
        height: 17px;
    }
    .card input{
        display: none;
    }
    #extra{
        display: none;
    }
    .card label{
        border-radius: 20%;
        font-style: italic;
        padding: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 8%;
        margin-bottom: 10px;
        background-color: rgb(210,210,210);
        color: rgb(0,0,50);
        transition-duration: .3s;
    }
    .card input:checked ~ #extra{
        display: flex;
    }
    .card input:checked + i{
        opacity: 0;
    }
    .card label:hover{
        background-color: #fff;
        border: 1px dashed #000;
        color: var(--red-accent);
        cursor: pointer;
    }
    .card h1{
        display: flex;
        font-size: 110%;
        justify-content: space-around; 
    }
    .card p{
        width: 125%;
        padding: 5%;
        padding-bottom: 0%;
    }
    .card i{
        margin-left: 5px;
        font-size: .8rem;
        transition-duration: .2s;
    }
}

@media (max-width: 358px) { /* for small phones/devices */
    .perfect-match{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top:5dvw;
    }
    .perfect-match img{
        height:8dvw;
        width:36dvw;
    }
    .perfect-match h2{
        position: absolute;
        transform: translateY(8.5dvw);
        font-size: 24px;
    }
    
    .card-container{
        display: grid;
        gap: 1dvw;
        grid-auto-flow: column;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow: scroll;
    }
    .card{
        width: clamp(100px, 17dvw, 180px);
        padding-bottom: 10px;
        height: 158px;
        background: #fff;
        border-radius: 5%;
        border: 2px solid black;
        overflow: hidden;
    }
    .card:has(input:checked){
        height: auto;
    }
    .card img{
        border-radius: 0;
        width: clamp(100px, 17dvw, 180px);
        height: clamp(70px, 15dvw, 130px);
    }
    .card a img{
        margin-right: 4%;
        border-radius: 50%;
        padding: 3px;
        float: right;
        border: 1px solid #000;
        width: 15px;
        height: 15px;
    }
    .card input{
        display: none;
    }
    #extra{
        display: none;
    }
    .card label{
        border-radius: 20%;
        font-style: italic;
        padding: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5%;
        margin-bottom: 10px;
        border-color: rgb(210,210,210);
        color: rgb(0,0,50);
        transition-duration: .3s;
    }
    .card input:checked ~ #extra{
        display: flex;
    }
    .card input:checked + i{
        opacity: 0;
    }
    .card label:hover{
        border: 1px dashed #000;
        background-color: #fff;
        color: var(--red-accent);
        cursor: pointer;
    }
    .card h1{
        display: flex;
        font-size: 100%;
        justify-content: space-around; 
    }
    .card p{
        width: 125%;
        padding: 5%;
        padding-bottom: 0%;
    }
    .card i{
        margin-left: 5px;
        font-size: .6rem;
        transition-duration: .2s;
    }
}
